#primary{
  padding-block: 20px;

  div {
    display: flex;
    align-items: center;
    gap : 8px;
  }

 
  div:nth-child(2) {
    margin-inline: auto;
  }

  div:nth-child(3) {
   justify-self: end;
  }
}

#secondary {
  padding-block: 14px;
  border: solid 1px var(--stroke-color);
  border-inline: none;
  justify-content: space-between;
}





@media (max-width: 768px) {
  
  
  #primary {
    justify-content: space-between;
  }
  
  #primary div:nth-child(2) {
    margin-inline: 0; 
  }

  #primary strong {
    display: none; 
  }

  
  #secondary {
    display: flex; 
    overflow-x: auto; 
    justify-content: flex-start; 
    gap: 16px; 
    
    padding-bottom: 8px; 
    border: none; 
    
    
    scrollbar-width: none; 
  }
  
  
  #secondary::-webkit-scrollbar { 
    display: none; 
  }

  
  #secondary a {
    white-space: nowrap; 
    padding: 8px 16px; 
    background-color: var(--stroke-color); 
    border-radius: 100px; 
    font-size: 14px; 
  }
}